        </div>
        <footer>
            <div class="footer-block">
                <div class="footer-copyright">
                    <p class="footer-p">Designed By: &copy;Brown & Company</p>
                </div>
                <div class="footer-icons">
                    <a class="icon"><img class="icons-img" src="/images/instagram_icon.png" alt="instagram icon"></a>
                    <a class="icon"><img class="icons-img" src="/images/facebook_icon.png" alt="facebook icon"></a>
                    <a class="icon"><img class="icons-img" src="/images/youtube_icon.png" alt="youtube icon"></a>
                </div>
            </div>
        </footer>
    </body>
</html>
