<%- include('./partials/header.ejs')%>
    <main class="index-container">
        <div id="index-greeting">
            <h1>You're Home!</h1>
            <p class="greeting-p">Welcome to the Drumline Auction House. Here you will be able browse and bid on many different drumline related items. Whether you're looking to buy an entire line for your school, a personal practice pad, or anything in between!</p>
        </div>
        <div class="index-photo1">
            <img class="index-image" src="/images/drumline_image.jpg" alt="cavaliers 2023 drumline">
        </div>
        <div class="index-photo2">
            <img class="index-image" src="/images/bassline_image.jpg" alt="cavaliers 2018 bassline">
        </div>
        <div class="index-content">
            <h2>We Have What You Need!</h2>
            <br>
            <a href="/items">Get Started!</a>
        </div>
    </main>
    <%- include('./partials/footer.ejs')%>
